$primary: #1ab2cb;

@import "~bulma";

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;

  .playing-card {
    min-height: 7rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;

    .set-by {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      color: $white;
      background: $dark;
      padding: 0.25rem 0.75rem;
      border-radius: 50rem;
      transform: translateY(-50%);
      text-align: center;
    }

    .chosen-by {
      position: absolute;
      left: 0;
      bottom: 0;
      background: $light;
      width: 100%;
      padding: 0.25rem 0.75rem;
      border-radius: inherit;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      ul {
        margin-top: 0;
      }
    }

    svg {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(50%, -50%);
      color: $primary;
      background: white;
      border-radius: 50%;
    }

    &.selected {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
}

.playing-card {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  width: auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    display: block;
  }
}
